body {
  margin: 0;
  background: #1e1e1e;
  color: white;
  font-family: Arial;
}

header {
  background: #ffab19;
  padding: 8px;
}

#container {
  display: flex;
  height: calc(100vh - 45px);
}

#blocklyDiv {
  width: 65%;
}

#stage {
  width: 35%;
  background: #111;
  padding: 10px;
}

canvas {
  background: white;
  width: 100%;
}
