body {
  margin: 0;
  font-family: Arial;
  background: #111;
  color: white;
}

header {
  background: #4caf50;
  padding: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
}

#container {
  display: flex;
  height: calc(100vh - 50px);
}

#blocklyDiv {
  flex: 1;
}

#rightPanel {
  width: 350px;
  background: #1e1e1e;
  padding: 10px;
  overflow: auto;
}

pre {
  background: black;
  padding: 10px;
  height: 200px;
  overflow: auto;
}
