body {
  margin: 0;
  background: #1e1e1e;
  color: white;
  font-family: Arial;
  overflow: hidden;
}

header {
  background: #ffab19;
  padding: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  font-weight: bold;
}

#container {
  display: flex;
  height: calc(100vh - 50px);
}

/* Blockly */
#blocklyDiv {
  flex: 1;
  height: 100%;
}

/* Right panel */
#stage {
  width: 350px;
  background: #111;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Canvas */
canvas {
  background: white;
  width: 100%;
  height: 300px;
  border: 2px solid #333;
}

/* Buttons */
.controls {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

button {
  padding: 6px;
  border: none;
  background: #333;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #555;
}

/* Console */
#console {
  height: 120px;
  background: black;
  font-size: 12px;
  padding: 5px;
  overflow: auto;
}
